<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}admin/css/ch-ui.admin.css">
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}admin/font/css/font-awesome.min.css">
</head>
<body onload="document.form.name.focus()">
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="index.php?p=admin&c=index&a=index">首页</a> &raquo; 添加分类
    </div>
    <!--面包屑导航 结束-->

    <div class="result_wrap">
        <form action="index.php?p=admin&c=category&a=add" method="post" name="form">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>所属分类：</th>
                        <td>
                            <select name="pid">
                                <option value="0">==请选择==</option>
                                {foreach $categoryList as $category}
                                <option value="{$category.id}">
                                    {str_repeat('&nbsp;', $category.level*8)}
                                    {$category.name}
                                </option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>分类名称：</th>
                        <td>
                            <input type="text" class="lg" name="name">
                        </td>
                    </tr>
                    <tr>
                        <th>排序：</th>
                        <td>
                            <input type="text" name="sort">
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="button" value="提交" onclick="confirm('确定提交吗？')?form.submit():''">
                            <input type="button" class="back" onclick="confirm('取消本次添加，直接返回分类列表吗？')?window.location.href='index.php?p=admin&c=category&a=list':''" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>