<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}admin/css/ch-ui.admin.css">
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}admin/font/css/font-awesome.min.css">
    <script type="text/javascript" src="{$smarty.const.__PUBLIC__}admin/js/jquery.js"></script>
    <script type="text/javascript" src="{$smarty.const.__PUBLIC__}admin/js/ch-ui.admin.js"></script>
</head>
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="index.php?p=admin&c=index&a=index">首页</a> &raquo; 分类列表
    </div>
    <!--面包屑导航 结束-->

    <!--结果页快捷搜索框 开始  独立开发
    <div class="search_wrap">
        <form action="" method="post">
            <table class="search_tab">
                <tr>
                    <th width="78">选择分类:</th>
                    <td>
                        <select onchange="javascript:location.href=this.value;">
                            <option value="">全部</option>
                            <option value="http://www.baidu.com">百度</option>
                            <option value="http://www.sina.com">新浪</option>
                        </select>
                    </td>
                    <th width="70">关键字:</th>
                    <td><input type="text" name="keywords" placeholder="关键字"></td>
                    <td><input type="submit" name="sub" value="查询"></td>
                </tr>
            </table>
        </form>
    </div>-->
    <!--结果页快捷搜索框 结束-->

    <!--搜索结果页面 列表 开始-->
    <form action="#" method="post">
        <div class="result_wrap">
            <!--快捷导航 开始 独立开发
            <div class="result_content">
                <div class="short_wrap">
                    <a href="#"><i class="fa fa-plus"></i>新增文章</a>
                    <a href="#"><i class="fa fa-recycle"></i>批量删除</a>
                    <a href="#"><i class="fa fa-refresh"></i>更新排序</a>
                </div>
            </div>-->
            <!--快捷导航 结束-->
        </div>

        <div class="result_wrap">
            <div class="result_content">
                <form action="">
                    <table class="list_tab">
                        <tr>
                            <!--
                            <th class="tc" width="5%"><input type="checkbox" name=""></th>
                            <th class="tc">排序</th>
                            -->
                            <th class="tc">ID</th>
                            <th>分类名称</th>
                            <th>排序</th>
                            <th>是否显示</th>
                            <th>更新时间</th>
                            <th>操作</th>
                            <!-- <th>批量删除</th> -->
                        </tr>
                        {foreach $category_list as $category}
                        <tr>
                            <!--
                            <td class="tc"><input type="checkbox" name="id[]" value="{$category.id}"></td>
                            <td class="tc">
                                <input type="text" name="ord[]" value="0">
                            </td>
                            -->
                            <td class="tc">{$category.id}</td>
                            <td>{str_repeat('&nbsp;', $category.level*8)}{$category.name}</a>
                            </td>
                            <td>{$category.sort}</td>
                            <td>
                                {if $category['display']}
                                <span style="color:green">是</span>
                                {else}
                                <span style="color:red">否</span>
                                {/if}
                            </td>
                            <td>{$category.updated_time|date_format:'Y-m-d H:i:s'}</td>
                            <td>
                                <a href="index.php?p=admin&c=category&a=update&id={$category.id}">修改</a>
                                <a href="javascript:;" onclick="confirm('确定删除“【{$category.name}】及该分类下的所有文章”吗？') ? window.location.href='index.php?p=admin&c=category&a=delete&id={$category.id}' : ''">删除</a>
                            </td>
                            <!-- <td><input type="checkbox" name="delete[]" value="{$category.id}"></td> -->
                        </tr>
                        {/foreach}
                    </table>
                </form>
            </div>
        </div>
    </form>
    <!--搜索结果页面 列表 结束-->
</body>
</html>